<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="60">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>settings</mat-icon>
      </div>
      <mat-card-title>Generator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>General</h3>
      <mat-divider></mat-divider>
      <form [formGroup]="generatorForm" novalidate>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput placeholder="App name (name)" formControlName="name">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="App title (title)" formControlName="title">
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput placeholder="1st contributers name (name)" formControlName="author">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="1st contributers mail (mail)" formControlName="mail">
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-slide-toggle fxFlex formControlName="useDocker">Use docker</mat-slide-toggle>
          <mat-slide-toggle fxFlex formControlName="useMITLicense">Use MIT license</mat-slide-toggle>
          <mat-slide-toggle fxFlex formControlName="useMock">Use mock</mat-slide-toggle>
          <mat-slide-toggle fxFlex formControlName="useSecurity">Use security</mat-slide-toggle>
          <mat-slide-toggle fxFlex formControlName="modRewriteIndex">Use modRewriteIndex</mat-slide-toggle>
        </div>
        <h3>Client</h3>
        <mat-divider></mat-divider>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput placeholder="Build dir (buildDir)" formControlName="buildDir">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Github username (ghUser)" formControlName="ghUser">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Language" formControlName="language">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Prefix" formControlName="prefix">
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-select placeholder="Theme" formControlName="theme">
              <mat-option *ngFor="let theme of themes" [value]="theme">
                {{ theme }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-slide-toggle fxFlex formControlName="installDependencies">Install dependencies</mat-slide-toggle>
          <mat-slide-toggle fxFlex formControlName="useGoogleFonts">Use Google fonts</mat-slide-toggle>
          <mat-radio-group fxFlex formControlName="useYarn">
            <mat-radio-button value="yarn">Use yarn</mat-radio-button>
            <mat-radio-button value="npm">USe npm</mat-radio-button>
          </mat-radio-group>
        </div>
        <h3>Server</h3>
        <mat-divider></mat-divider>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <mat-form-field fxFlex="20">
            <mat-select #backend placeholder="Backend" formControlName="backend">
              <mat-option *ngFor="let backend of backends" [value]="backend">
                {{ backend }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="35" *ngIf="checkBackend(['Java', 'Kotlin'])">
            <input matInput placeholder="group Id (packagepath)" formControlName="groupId">
          </mat-form-field>
          <mat-radio-group *ngIf="checkBackend(['Java', 'Kotlin'])" fxFlex formControlName="management">
            <mat-radio-button value="maven">Use maven</mat-radio-button>
            <mat-radio-button value="gradle">Use gradle</mat-radio-button>
          </mat-radio-group>
          <mat-slide-toggle *ngIf="checkBackend(['php'])" fxFlex formControlName="modRewritePhpExtension">Use modRewritePhpExtension</mat-slide-toggle>
          <mat-slide-toggle *ngIf="checkBackend(['php'])" fxFlex formControlName="serverAsApi">Server as api</mat-slide-toggle>
        </div>
        <mat-divider></mat-divider>
      </form>
    </mat-card-content>
  </mat-card>
</div>
