.mat-card .mat-divider-horizontal {
  margin-bottom: 10px;
  position: relative;
}

.mat-card .mat-slide-toggle {
  margin-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-card .mat-slide-toggle, .mat-card .mat-radio-button {
  height: 46px !important;
}
